/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  position: absolute;
  background-color: inherit;
  color: white;
  cursor: pointer;
  padding: 0.9%;
  /* 18px; */
  width: 50%;
  text-align: center;
  border: solid;
  border-color: white;
  outline: none;
  transition: 0.4s;
  top: 87%;
  left: 25%;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  border-radius: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  position: absolute;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 5000% 5000%;
  top: 87.5%;
}

.accordion:after {
  position: relative;
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border-radius: 25px;
}

.active:after {
  position: relative;
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  position: absolute;
  border-radius: 5px;
  background-image: linear-gradient(150deg,#ff5160,#ff0073);
  border: solid;
  border-color: white;
  font-family: 'Oswald', sans-serif;
  display: none;
  overflow: hidden;
  width: 50%;
  left: 25%;
  top: 94.8%;
}

.panelText {
  position: relative;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  left: 0.3%;
}
