*{
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0%
     50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.button{
  background-color: transparent; /* Green */
  border: solid;
  border-color: white;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  /* border-radius: 50%; */
  position:relative;
  font-size: 16px;
}

.backButton{
  background-color: transparent; /* Green */
  border: solid;
  border-color: white;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  /* border-radius: 50%; */
  position:absolute;
  font-size: 16px;
  z-index: 9;
}




.container{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 12%;
  }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  position: relative;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  position: relative;
  background-color: #ccc;
}

.accordion:after {
  position: relative;
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  position: relative;
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#parent{
  position: relative;
}

.about-section {
  padding: 150px;
  text-align: center;
  background-color: #1b2740;
  color: white;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
